:root {
	--clr-header: #4980cc;
	--clr-primary-font: #3d3c3c;
	--clr-search-icon: #706f6f;
	--clr-secondary-font: #8a8888;
	--clr-white: #ffffff;
	--clr-background: #e4e4e4;
	--clr-state-stoped: #e13e5b;
	--clr-state-moving: #278e06;
}
