:root {
	--clr-header: #4980cc;
	--clr-primary-font: #3d3c3c;
	--clr-search-icon: #706f6f;
	--clr-secondary-font: #8a8888;
	--clr-white: #ffffff;
	--clr-background: #e4e4e4;
	--clr-state-stoped: #e13e5b;
	--clr-state-moving: #278e06;
	--clr-indicator-1: #008000;
	--clr-indicator-2: #ffff00;
	--clr-indicator-3: #ffa500;
	--clr-indicator-4: #ff0000;
	--clr-indicator-5: #8b0000;
	--clr-indicator-6: #8b0000;
	--clr-link: #3366bb;
}

* {
	margin: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Quicksand', sans-serif;
	font-size: 62.5%;
	line-height: 24px;
	font-weight: 400;
	color: var(--clr-primary-font);
	background-color: var(--clr-background);
}

.input {
	padding: 0 8px;
	border: 1px solid var(--clr-background);
	border-radius: 6px;
}

.main_container {
	display: flex;
	margin: 50px 20px;
	justify-content: center;
	height: 100%;
}

@media (max-width: 500px) {
	html {
		width: fit-content;
	}

	.main_container {
		display: block;
		margin: 20px 0px;
	}
}
